body {
	background-color: lightblue;
}

h1, h2, strong {
	color:darkblue;
}

h3 {
	text-align: center;
}

img {
	border: red dotted 2px;
	height: 400px;
	width: 1200px;
}

.video {
	position: absolute;
    margin: auto;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}